<!doctype html>
<html lang="en">
  <head>
  	<title>Car Pooling using Blockchain</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">

	</head>
	<body>
	<section class="ftco-section">
		<!-- <div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Car Pooling</h2>
				</div>
			</div>
		</div> -->
		
		<div class="container-fluid px-md-5">
			<div class="row justify-content-between">
				<div class="col-md-8 order-md-last">
					<div class="row">
						<div class="col-md-6 text-center">
							<a class="navbar-brand" href="index.html">Car Pooling <span>using Blockchain</span></a>
						</div>
						<div class="col-md-6 d-md-flex justify-content-end mb-md-0 mb-3">
							<form action="#" class="searchform order-lg-last">
			          <div class="form-group d-flex">
			            <input type="text" class="form-control pl-3" placeholder="Search">
			            <button type="submit" placeholder="" class="form-control search"><span class="fa fa-search"></span></button>
			          </div>
			        </form>
						</div>
					</div>
				</div>
				<div class="col-md-4 d-flex">
					<div class="social-media">
		    		<p class="mb-0 d-flex">
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
		    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
		    		</p>
	        </div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="/dashboard" class="nav-link">Home</a></li>
	        	<li class="nav-item active"><a href="/createride" class="nav-link">Create Ride</a></li>
	        	<li class="nav-item"><a href="/bidrequests" class="nav-link">Bid Requests</a></li>
				<li class="nav-item"><a href="/myrides" class="nav-link">My Rides</a></li>
				<li class="nav-item"><a href="/mybids" class="nav-link">My Bids</a></li>
	            <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
	        </ul>
	      </div>
	    </div>
	  </nav>
    <!-- END nav -->
	</section>
    <section>
        <div class="container">
                <h3 style="text-align: center;">Create a Car Ride</h3>
                <form action="/createrideForm" method="POST">
                    <div class="form-group">
                        <label for="cartype">What was your car type</label>
                        <input type="text" class="form-control" id="cartype" placeholder="Enter your car type " name="cartype">
                    </div>
                    <div class="form-group">
                        <label for="poolsize">What is the pool size that you were looking for?</label>
                        <input type="number" class="form-control" id="poolsize" placeholder="Enter your pool size " name="poolsize">
                    </div>
                    <div class="form-group">
                        <label for="minamount">What is the minimum amount that you want your pal to pay?</label>
                        <input type="number" class="form-control" id="minamount" placeholder="Enter minimum amount " name="minamount">
                    </div>
                    <div class="form-group">
                        <label for="from">What is the first point in the ride?</label>
                        <input type="text" class="form-control" id="from" placeholder="Enter first place " name="from">
                    </div>
                    <div class="form-group">
                        <label for="to">What is the last point in the ride?</label>
                        <input type="text" class="form-control" id="to" placeholder="Enter last place " name="to">
                    </div>
                    <div class="form-group">
                        <label for="places">Tell us some places that comes in your ride?</label>
                        <input type="text" class="form-control" id="places" placeholder="Enter some places " name="places">
                    </div>
					<div class="form-group">
                        <label for="date">Tell us on which date you want to make ride?</label>
                        <input type="date" class="form-control" id="date" placeholder="Enter ride date " name="date">
                    </div>
                    <button type="submit" class="btn btn-primary btn-login" id="login">Create Ride</button> <br/><br/>
                </form>
        </div>
        
    </section>

  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/popper.js')}}"></script>
  <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static',filename='js/main.js')}}"></script>

	</body>
</html>

